<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Dashboard</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-heart"></span> CRM <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Customer relationship management</a></li>
            <li><a href="#">Report</a></li>
            <li><a href="#">Campange</a></li>
            <li><a href="#">Report designer</a></li>
            <li><a href="#">Lead management</a></li>
            <li><a href="#">Telesales</a></li>
            <!--<li class="divider"></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">Getting Started on Heroku with Heroku Connect</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-jruby">Getting Started with Ruby on Heroku (Microsoft Windows)</a></li>-->
          </ul>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-calendar"></span> Calendar</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-comment"></span> Communication <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Email</a></li>
            <li><a href="#">Communication center</a></li>
            <li><a href="#">Telephony</a></li>
            <!--<li class="divider"></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">Getting Started on Heroku with Heroku Connect</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-jruby">Getting Started with Ruby on Heroku (Microsoft Windows)</a></li>-->
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-folder-open"></span> Files <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">File explorer</a></li>
            <li><a href="#">Document designer</a></li>
            <!--<li class="divider"></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">Getting Started on Heroku with Heroku Connect</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-jruby">Getting Started with Ruby on Heroku (Microsoft Windows)</a></li>-->
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-th-large"></span> Project <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Project managment</a></li>
            <li><a href="#">Reports</a></li>
            <!--<li class="divider"></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">Getting Started on Heroku with Heroku Connect</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-jruby">Getting Started with Ruby on Heroku (Microsoft Windows)</a></li>-->
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-usd"></span> Financials <span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu">

            <li class="dropdown-submenu">
              <a tabindex="0">Order/Invoice</a>
              <ul class="dropdown-menu">
                <li><a tabindex="0">New order/invoice</a></li>
              </ul>
            </li>

            <li class="dropdown-submenu">
              <a tabindex="0">Products</a>
              <ul class="dropdown-menu">
                <li><a href="#">Product management</a></li>
              </ul>
            </li>
            <!--<li class="divider"></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">Getting Started on Heroku with Heroku Connect</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-jruby">Getting Started with Ruby on Heroku (Microsoft Windows)</a></li>-->
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-user"></span> Admin Goerp</a>
      </li>
    </ul>
  </div>
</nav>
